<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sehyunict.tk.cart.service.CartDao">

	<insert id="insert" parameterType="CartVo">
		INSERT INTO
		tn_tk_cart
		VALUES(
		tn_tk_cart_seq.nextval
		, #{timetableId}
		, #{userId}
		, #{seatId}
		, default)
	</insert>

	<delete id="delete" parameterType="Map">

		DELETE
		FROM
		tn_tk_cart
		WHERE
		user_id = #{userId}
		<foreach collection="ids" item="cartId" index="idx">
			<if test="idx == 0">
				AND
				cart_id = #{cartId}
			</if>
			<if test="idx != 0">
				OR
				cart_id = #{cartId}
			</if>
		</foreach>

	</delete>


	<select id="selectAll" parameterType="int" resultType="CartVo">
		SELECT
		ROW_NUMBER() OVER (ORDER BY A.created_at, A.seat_id, A.timetable_id)
		no
		, A.cart_id cartId
		, A.timetable_id timetableId
		, B.start_time
		startTime
		, B.end_time endTime
		, C.title itemTitle
		, C.image_path
		imagePath
		,
		A.seat_id seatId
		, D.seat_name seatName
		, B.price itemPrice
		FROM
		tn_tk_cart A
		, tn_tk_timetable B
		, tn_tk_item C
		, tn_tk_seat D
		WHERE
		A.user_id = #{userId}
		AND
		A.timetable_id = B.timetable_id
		AND
		B.item_id =
		C.item_id
		AND
		A.seat_id = D.seat_id
		ORDER BY
		A.created_at
		, A.seat_id
		,
		A.timetable_id
	</select>

<select id="selectCount" parameterType="int" resultType="int">
SELECT
COUNT(CART_ID)
FROM TN_TK_CART
WHERE USER_ID = #{userId}
</select>

</mapper>