<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="sehyunict.tk.item.service.ItemDao">
	
	<!-- item 등록 -->
	<insert id="insert">
	
	</insert>


<!-- 	<resultMap type="ItemVo" id="itemList">

		<result column="START_DAY" property="START_DAY" jdbcType="DATE"/>
		<result column="END_DAY" property="END_DAY" jdbcType="DATE"/>
	</resultMap> -->

	<!-- 목록페이지-영화  -->
	<select id="movieSelectList" parameterType="Map" resultType="ItemVo">
		SELECT  
		    A.ITEM_ID 
		  , A.TITLE 
		  , A.IMAGE_PATH 
		  , A.START_DAY
		  , A.END_DAY
		FROM 
		    TN_TK_ITEM A
		  , TC_TK_CODE T1
		  , TC_TK_CODE T2
		WHERE
		    A.CATEGORY_ID = T1.CODE_ID
		AND
		    A.STATUS_ID = T2.CODE_ID   
		AND
		    A.CATEGORY_ID = '3'
		AND
		    A.STATUS_ID = '12'
		ORDER BY A.END_DAY	
	</select>
	
	<!-- 목록페이지-연극 -->
	<select id="theaterSelectList" parameterType="Map" resultType="ItemVo">
		SELECT  
		    A.ITEM_ID 
		  , A.TITLE 
		  , A.IMAGE_PATH 
		  , A.START_DAY
		  , A.END_DAY
		FROM 
		    TN_TK_ITEM A
		  , TC_TK_CODE T1
		  , TC_TK_CODE T2
		WHERE
		    A.CATEGORY_ID = T1.CODE_ID
		AND
		    A.STATUS_ID = T2.CODE_ID   
		AND
		    A.CATEGORY_ID = '4'
		AND
		    A.STATUS_ID = '12'
		ORDER BY A.END_DAY
	</select>	
	
	<!-- 목록페이지-전시회 -->
	<select id="exhibitionSelectList" parameterType="Map" resultType="ItemVo">
		SELECT  
		    A.ITEM_ID 
		  , A.TITLE 
		  , A.IMAGE_PATH 
		  , A.START_DAY
		  , A.END_DAY
		FROM 
		    TN_TK_ITEM A
		  , TC_TK_CODE T1
		  , TC_TK_CODE T2
		WHERE
		    A.CATEGORY_ID = T1.CODE_ID
		AND
		    A.STATUS_ID = T2.CODE_ID   
		AND
		    A.CATEGORY_ID = '5'
		AND
		    A.STATUS_ID = '12'
		ORDER BY A.END_DAY		
	</select>

 	<!-- item 목록조회  -->
<!--	
	<select id="selectList" parameterType="Map" resultType="ItemVo">
		SELECT *
		FROM
		    TN_TK_ITEM A
		  , TN_TK_TIMETABLE B
		WHERE 
		    A.ITEM_ID = B.ITEM_ID
	</select> -->
	
	<!-- item + timetable 목록조회  -->
	<select id="selectList2" parameterType="Map" resultType="ItemVo">
		SELECT * 
		FROM
		    TN_TK_ITEM A
		  , TN_TK_TIMETABLE B
		WHERE
		    A.ITEM_ID = B.ITEM_ID
	</select>
	
	<!-- 특정 item의 상세정보(timetable 포함) 조회  -->
	<select id="itemDetailList" parameterType="Map" resultType="ItemVo">
		SELECT * 
		FROM 
		    TN_TK_ITEM A
		  , TN_TK_TIMETABLE B 
		WHERE 
		    A.ITEM_ID = B.ITEM_ID
		AND 
		    A.ITEM_ID = #{item_id}		    	
	</select>
	
	
	<!-- 특정 item 검색(timetable 정보포함) -->
<!-- 	<select id="" parameterType="Map" resultType="ItemVo">
	
	
	</select> -->
	
	<!-- 수정 -->
 	<update id="update">
	
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
	
	</delete>
	
</mapper>        
        